body {
	background-color: rgb(30,30,30);
}

p {
	color: white;
}

h1 {
	color: white;
}

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 1vw;
  color: white;
  text-align: center;
  padding: 2vw 3vw;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 1vw;
  border: none;
  outline: none;
  color: white;
  padding: 2vw 3vw;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0vw 2vw 3vw 0vw rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 1vw 2vw;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

img {
	float: middle;
}

.active {
	background-color: #212121;
}

.subheader {
	padding-top: 3.5vw;
}

table {
	width: 400px;
	float: center;
}

table, th, td {
	border: 1px solid white;
	border-collapse: collapse;
	color: white;
}

th, td {
	text-align: center;
}

th {
	color: white;
}

td:hover {
	background-color: rgba(0,30,10,0.9);
	color: white;
}

tr:nth-child(even) {
	background-color: rgba(0,0,80,.7);
}

tr:nth-child(odd) {
	background-color: rgba(0,0,50,.7);
}
