body {
	background-color: rgb(30,30,30);
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: grey;
}

li {
  float: left;
  width: 25%;
  font-size: 2vw;
  text-shadow: 1vw 1vw 3vw;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 1.5vw;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.active {
	background-color: #4CAF50;
}	

.container {
	
}

.header {
	color: white;
	text-shadow: 4px 4px 10px #111;
	margin-top: 3vw;
	margin-bottom: 3vw;
	border: 1vw solid white;
	padding-top: 2vw;
	padding-bottom: 2vw;
}

.main {
	width: 7vw;
}

.subheader {
	padding-top: 7vw;
}
