body {
	background-color: rgb(30,30,30);
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: grey;
}

li {
  float: left;
  width: 25%;
  font-size: 2vw;
  text-shadow: 1vw 1vw 3vw;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 1.5vw;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

img {
	float: middle;
}

.active {
	background-color: #4CAF50;
}	

.main {
	
}

.subheader {
	padding-top: 7vw;
}
